<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="symbols" value="YHOO+GOOG+MSFT"/>
    <add key="tick" value="4000"/>
    <add key="yahoo" value="http://download.finance.yahoo.com/d/quotes.csv?s={0}&amp;f=sl1d1t1c1hgvbap2"/>
  </appSettings>
</configuration>